Package: crossdrop
Version: 1.0.0
Section: net
Priority: optional
Architecture: amd64
Maintainer: CrossDrop <support@crossdrop.local>
Depends: libgtk-3-0, libx11-6, libblkid1, liblzma5
Description: CrossDrop LAN and VPN File Transfer
 Sichere Dateiuebertragung ueber LAN und VPN.
